.containerPageDetail{
    width: 100%;
    height: 100%;
    display: flex;
}

.chatDetail{
    width: 66%;
    padding: 8px;
    background-color: var(--bg-secondary);
    border-radius: 16px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.infoChat{
    width: 34%;
    padding: 8px;
    background-color: var(--bg-secondary);
    border-radius: 16px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

@media screen and (max-width: 1224px) {
    .chatDetail{
        width: 100%;
    }
    .infoChat{
        width: 0px;
        padding: 0px;
        margin-left: 0px;
    }
}