.containerUser{
    width: 1200px;
    height: auto;
    min-height: 400px;
    max-height: calc(100svh - 50px - 40px);
   
    margin: 20px 0px;
    padding: 8px;
    border-radius: 16px;
    box-sizing: border-box;
   
    background-color: var(--bg-secondary);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.topBarPageUser{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 6px;
}
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemAction{
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.5s linear;
    cursor: pointer;
    margin: 0px 12px 0px 0px;
    background-color: transparent;
}
.itemActionActive{
    background-color: var(--bg-secondary2) !important;
    opacity: 1 !important;
}
.itemAction:hover{
    opacity: 0.7;
    background-color: var(--bg-message1);
}
.textAction{
    display: block;
}
.iconAction{
    display: none;
}
.inputSearch{
    width: 350px;
}

.content{
    margin-top: 20px;
    max-height: calc(100% - 56px);
    overflow: scroll;
    display: flex;
    justify-content: center;
}
.content::-webkit-scrollbar{
    width: 0px;
}

.listCard{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}
.listCardNew{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (max-width: 768px) {
    .containerUser{
        width: 90%;
    }
    .listCard{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .listCardNew{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .textAction{
        display: none;
    }
    .iconAction{
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .containerUser{
        width: 700px;
    }
    .listCard{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .listCardNew{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .textAction{
        display: none;
    }
    .iconAction{
        display: block;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .containerUser{
        width: 900px;
    }
    .listCard{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .listCardNew{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .textAction{
        display: block;
    }
    .iconAction{
        display: none;
    }
}