* {
  margin: 0px;
  padding: 0px;
}

:root {
  --bg-primary: #1E1E1E;
  --bg-secondary: #2E2E2E;
  --bg-secondary2: rgb(66, 66, 66);
  --bg-message1: #242526;
  --bg-message2: rgb(66, 66, 66);
  --bg-modal-container: rgba(0, 0, 0, 0.3);
  --bg-surface: #F4F4F8;
  --bg-disable: #1c1d21;
  --bg-link: rgb(30, 134, 246);
  --bg-scrollbar-thumb: #b1b1b5;


  --border-primary: #F4F4F8;

  --text-primary: #F4F4F8;
  --text-secondary: #c6c6c8;
  --text-invert: #050506;
  --text-tertiary: #76767f;
  --text-light: #b8babd;
  --text-error: #C70007;
  --text-link: rgb(30, 134, 246);
  --text-link-hover: rgb(5, 80, 218);

  --height-navbar: 50px;
}


.quicksand-300 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.quicksand-400 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.quicksand-500 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.quicksand-600 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.quicksand-700 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}