.containerOtpInput{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.inputOtp{
    padding: 12px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 28px;
    font-weight: 600;
    background-color: var(--bg-secondary2);
    color: var(--text-primary);
}

/*  mobile  */
@media screen and (max-width: 768px) {
    .inputOtp {
       padding: 8px;
       font-size: 24px;
    }
}